.card {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--secondary-200, #dcdddf);
  background: white;
  display: flex;
  flex-direction: column;
}
.image {
  border-radius: 6px;
  margin-bottom: 16px;
}
.content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--secondary-800, #181a2a);
  margin: 16px 0px 20px 0px;
}
.avatar_time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
}
.time {
  color: var(--secondary-400, #97989f);
  font-size: 14px;
  line-height: 21px;
  margin-left: 20px;
}
